# exclude all
*
!*/
.venv
node_modules

# but these file type
!*.c
!*.h
!*.py
!makefile
!*.md
!*.sh
!*.html

# and these cuties too
!.gitignore
!.myfuncs
!requirements.txt
!Dockerfile
!nginx.conf
!compose.yaml
!Jenkinsfile*
!webapp-weather.yaml
!*.yaml
!*.yml
!*.tf
.env
!filebeat.docker.yml
!logstash.conf
!*.txt
.terraform
!*.json
!screenshot.png
!*.tsx
!*.js
!*.ts
!*.css
!*.mp3
!*.png
